.transaction {
  margin: 0 auto;
  width: 50%;
  padding: 20px 0;
  background-color: rgb(241, 229, 212);
}

.tableTitle {
  background: linear-gradient(rgb(211, 204, 194), rgb(110, 110, 211));
}

.tableLines:nth-child(2n) {
  background-color: rgb(216, 209, 209);
}

.tableItem {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}
