.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  background: linear-gradient(rgb(211, 204, 194), rgb(110, 110, 211));
}

.status::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.statusOff {
  composes: status;
  border-radius: 50%;
  background-color: red;
}

.statusOn {
  composes: status;
  border-radius: 50%;
  background-color: green;
}

.avatar {
  padding: 5px;
  border: 1px solid tomato;
  border-radius: 5px;
  background-color: #fff;
}
